*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: dimgray;
    color: white;
}

.hero{
    background-image: url(/src/img/image1.jpg);
}
.hero2{
    background-image: url(/src/img/image2.jpg);
}
.hero7{
    background-image: url(/src/img/image7.jpg);
}

.menu{
    background-image: url(/src/img/image2.jpg);
}

.contact{
    background-image: url(/src/img/image8.jpg);
}

.hero-list{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
}

.navBar{
    position: fixed;
    top: 0;
    z-index: 40;
    width: 100%;
    margin: 0;
}


.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
}

.prev {
    left: 10px; /* Posiciona el botón a la izquierda */
}

.next {
    right: 10px; /* Posiciona el botón a la derecha */
}
